<div class="login-container">
    <div class="login-card">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111432.png" alt="Logo" class="logo">
        <h2>GitTogether</h2>
        <p>Inicia sesión para entrar al foro</p>

        <form (submit)="onLogin($event)">
            <div class="input-group">
                <label>Usuario/Email</label>
                <input type="text" name="nombre" [(ngModel)]="loginData.nombre" required
                    placeholder="ejemplo123 o ejemplo123@mail.com">
            </div>

            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" name="password" [(ngModel)]="loginData.password" required placeholder="••••••••">
            </div>

            <button type="submit" class="btn-login">Entrar</button>

            <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>