# --- ANGULAR (Cualquier subcarpeta) ---
**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/
**/npm-debug.log
**/yarn-error.log
**/coverage/
**/.sass-cache/

# --- JAVA / ECLIPSE / MAVEN ---
**/.metadata/
**/target/
**/bin/
**/.settings/
**/.project
**/.classpath
**/*.launch
**/factorypath

# --- VS CODE ---
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
.history/

# --- SISTEMA ---
.DS_Store
Thumbs.db
*.tmp